.find-account-container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto 0; 
  padding: 20px;
  background-color: #fff;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px; 
}

.tab {
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 50%;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-color: #1f72c5;
  color: #1f72c5;
}

h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 20px; 
}

p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px; 
}

.separator {
  height: 1px;
  background-color: #ddd;
  margin: 50px 0; 
}

.find-account-container input {
  width: 100%;
  padding: 10px;
  margin-left: -50px;   
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  background-color: #1f72c5;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-btn:hover {
  background-color: #155a8a;
}

.email-container {
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 
}

.email-container label {
  font-size: 16px;
  color: #333;
  margin-right: 10px; 
  width: 25%; 
}

.email-container input {
  width: 70%;
}

.username-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.username-container label {
  font-size: 16px;
  color: #333;
  margin-right: 10px; 
  width: 25%;
}

.username-container input {
  width: 70%;
}