.signup-page {
  width: 400px;
  margin: auto;
  text-align: center;
}
  
.signup-title {
  color: #1f72c5;
  font-size: 30px;
  margin-bottom: 60px;
  margin-top: 70px;
  margin-left: -330px;
}
  
.form-group {
  margin-bottom: 20px;
  text-align: left;
  margin-top: 3px;
  display: flex;
  flex-direction: column; 
  margin-left: -100px;
}
  
.form-group label {
  margin-bottom: 10px; 
}
  
.input-with-button {
  position: relative;
}
  
.verify-button {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -2px;
}
  
input, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 1px;
}
  
input.error, select.error {
  border-color: red;
}
  
.error-message {
  color: red;
  font-size: 12px;
}
  
.online-status button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
  
.online-status button.online {
  background-color: white;
  color: #1f72c5;
}
  
.online-status button.offline {
  background-color: white;
  color: #1f72c5;
}
  
.online-status button.online-selected {
  background-color: rgb(242, 249, 255); 
  color: #1f72c5;
}
  
.online-status button.offline-selected {
  background-color: rgb(242, 249, 255); 
  color: #1f72c5;
}
  
.status-button:hover {
  opacity: 0.8;
}
  
select {
  height: 40px;
}
  
select.error {
  border: 2px solid red;
}
  
.required::after {
  content: " *";
  color: red;
}
  
input[type="checkbox"] {
  accent-color: #1f72c5;
  transform: scale(1.5); 
  position: relative;
  margin-left: -10px; 
  top: 23px;
}

.form-group {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.message.success {
  color: green;
  font-size: 12px;
}

.notification-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.notification-box {
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px; 
  margin-left: -150px;
  margin-top: 20px;
}

.notification-text {
  font-size: 18px;
  font-weight: bold;
  color: #1f72c5;
  margin-bottom: 10px;
  margin-left: -235px;
}

.notification-description {
  font-size: 12px;
  color: #777;
  margin-bottom: 15px;
  margin-left: -50px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: -180px;
  margin-bottom: 30px;
  position: relative;
  
}

.notification-checkbox {
  position: relative;
  left: -65px; 
  margin-top: -42px;
}

.checkbox-label {
  font-size: 14px;
  color: #333;
  margin-left: -340px;
}

.signup-button {
  margin-top: 50px; 
  margin-bottom: 40px;
  margin-right: 150px;
}