.chat-room-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff; 
  width: 100%;
}

.header-spacing {
  height: 30px; 
}

.divider {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid #ccccccb2;
  margin-top: 5px;
}

.room-info {
  padding: 10px 20px;
  text-align: center;
}

.room-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
}

.message-row {
  display: flex;
  margin-bottom: 10px;
}

.my-message {
  justify-content: flex-end;
}

.other-message {
  justify-content: flex-start;
}

.message-sender {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #001b3f89;
  margin-top: 10px;
}

.message-bubble {
  max-width: 100%;
  padding: 12px 18px;
  border-radius: 20px;
  background-color: #1f72c5;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}
.message-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.input-container {
  display: flex;
  padding: 15px 20px;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
}

.input-container input {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  outline: none;
}

.input-container button {
  padding: 15px 25px;
  background-color: #1f72c5;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #155ca0;
}