.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 10px;
  background-color: white;
  color: #555;
}
    
.logo h1 {
  margin: 5px 0 0 0;
  font-size: 24px;
  color: #555;
  margin-right: 30px;
  flex-shrink: 0;
  transform: translateX(50px);
}

.notification-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #555;
  padding: 5px;
  margin-left: -110px; 
  margin-right: 60px;
  margin-top: 5px;
  z-index: 5;
  position: relative;
}