.user-menu {
  position: relative;
  margin-left: 100px;
  transform: translateX(-120px);
  margin-top: 5px;
}
  
.user-icon {
  font-size: 30px;
  font-weight: bold;
  color: #1f72c5;
  background: none;
  border: none;
  cursor: pointer;
}
  
.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
}
  
.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.dropdown-menu li {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
  
.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
  
.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}