.signup-button {
  color: #1f72c5;
  background-color: white;
  border: 1px solid #ddd;
  padding: 14px 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  flex: none;
}